    
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400&family=Poppins:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

    *{
       
        box-sizing: border-box;
    }
    
    a.nav-link{
        color : white !important;
    }
    a.nav-link:hover{
        color:orange !important;
    }

    body {
        margin: 0;
        padding: 0;
        background-image: url(../html/imagenes/couv-1.jpg);
        background-position: center ;
        background-size: cover;
        background-repeat: no-repeat;
        
    }
h1{
    margin: 25px 10px;
}


.formHeader{
    width: 400px;
    text-align: center !important;
    
}
.formHeader div:hover{
    background-color:rgb(170, 132, 60) ;
    border-color: rgb(170, 132, 60) ;
}
.formHeader a{
    text-decoration: none;
    font-size: 22px;
    letter-spacing: 2px;
  
}
.formRegister{
    width: 600px;
}



#carouselExampleControls{
  
    border: 2px solid black;
}

#btn{
    width: 100px;
    height:45px;
    background-color:orange;
    border: 0;
    border-radius: 5px;
}
nav {
    background-color: #000000;
}

