
h2{
    color: #040212;
     text-align: center;
      margin-top: 25px;
  }

  span{
    margin-left: 5px;
    padding: 5px;
  }
  a{
    text-decoration: none;
    color:rgb(188, 163, 41);
    font-size: 18px;
    font-weight: bold;
  }
 
  .btn{
     background-color: #000000;
      border-color: white;
      color: white; 
      font-weight: bold;
    }
    .btn:hover{
      background-color: goldenrod;
  }





  h2{
    color: #040212;
     text-align: center;
     
  }
  label{
    color: #040212;
    font-size: 15px;
    margin: 5px;
    padding: 5px;
  }
 
  form{
    border: 2px solid #040212;
    border-radius: 10px;
    width: 500px;
    height: auto;
    background-color: lightgrey;
    margin: 15px;
    padding: 15px;
  }
  .form-control{
    width: auto;
    margin: 5px;
    padding: 5px;
    border: 1px solid #040212;
  }